@charset "UTF-8";

.nav-logo-img{
	height:64px;
	width:128px;
}

.nav-search{
	width: 200px;
}
.nav-input{
	width:100%;
	border-radius: 5px;
	padding: 5px 10px;
	border:none;
}

.nav-input-button{
	background-color:transparent;
	color: #777;
    position: absolute;
    top: 4px;
    border-radius: 20px;
    border:none;

}
.main-icon-img{
	width:80px;
	height:80px;
}
.match-content-chamimg{
	width:80px;
	height:80px;

	border-radius: 50px;
	display:table-cell;
}	
.match-content{
	
	display:table;
	table-layout: fixed;
	width:500px;
}

.match-content-itemicon{
	width:40px;
	height:40px;
}
.match-content-chaminfo{
	width:180px;
	
}

.match-content-icondiv{
	width:180px;
	display:table-cell;
}
.kda{
	display:table-cell;
	font-size:14px;
	text-align:center;
}